{% extends 'base.html.twig' %}
{% block title %}Editer vos données
{% endblock %}

{% block body%}

	<div class="container mt-4">
		{% for message in app.flashes('error') %}
			<div class="alert alert-danger">
				{{ message }}
			</div>
		{% endfor %}
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
		<h1 class="h3 mb-3 font-weight-normal">Modifier vos identifiants</h1>
		<div class="container mt-4">
			<form method="post">
				<div class="column">
					<div class="col-md-4">
						<label for="user">Nom d'utilisateur</label>
						<input type="text" id="user" name="user" value="{{ app.user.username }}" class="form-control">
					</div>
					<div class="col-md-4">
						<label for="pass1">Nouveau mot de passe</label>
						<input type="password" id="pass1" name="pass1" class="form-control">
					</div>
					<div class="col-md-4">
						<label for="pass2">Confirmez le mot de passe</label>
						<input type="password" id="pass2" name="pass2" class="form-control">
					</div>
					<div class="mt-2">
						<button class="btn btn-primary">Confirmer</button>
					</div>
				</div>
			</form>
		</div>
	</div>


{% endblock %}
